<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                  Depositar
                </div>
                <div class="card-body">
                    <div class="alert alert-success" *ngIf="message">
                        {{message}}
                    </div>
                    <div>
                        <a class="btn btn-primary btn-sm m-1" *ngIf="message" [routerLink]="['/app/dashboard']">Ver los movimientos</a>

                        <button class="btn btn-primary btn-sm m-1" *ngIf="message" (click)="message = ''; transaction.amount = 0">
                            Realizar un nuevo depósito
                        </button>
                    </div>
                    <form *ngIf="!message" (ngSubmit)="f.form.valid && transaction.amount >= 1000 && deposit()"  #f="ngForm" novalidate>
                        <div class="input-group mb-2">
                            <span class="input-group-text">$</span>
                            <input 
                                type="number" 
                                class="form-control form-control-sm" 
                                placeholder="Ingresa el monto..."
                                name="amount"
                                [(ngModel)]="transaction.amount"
                                #amount="ngModel"
                                min="1000"
                                required>
                            
                        </div>
                        <div class="mb-2" *ngIf="f.submitted && transaction.amount < 1000">
                            <div>
                                <span class="badge bg-danger">El mínimo de depósito es de $1000</span>
                            </div>
                            
                        </div>
                        <div class="mb-3" *ngIf="f.submitted && amount.invalid">
                            <div *ngIf="amount.errors?.required">
                                <span class="badge bg-danger">El campo Monto es obligatorio</span>
                            </div>
                            
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Depositar</button>
                    </form>
                </div>
              </div>

            
        </div>
    </div>
</div>