
<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                  Registro
                </div>
                <div class="card-body">
                    <div class="alert" [ngClass]="{'alert-danger': !isSuccess, 'alert-success' : isSuccess}" *ngIf="msg">
                        {{ msg }}
                    </div>
                    <form (ngSubmit)="f.form.valid && register()"  #f="ngForm" novalidate>
                        <div class="mb-3">
                            <label class="form-label">RUT</label>
                            <input 
                                type="text" 
                                class="form-control form-control-sm" 
                                name="rut" 
                                [(ngModel)]="account.rut"
                                #rut="ngModel"
                                placeholder="Ingresa tu RUT..."
                                pattern="^[0-9]+-[0-9kK]{1}$"
                                required>
                            <div *ngIf="f.submitted && rut.invalid">
                                <div *ngIf="rut.errors?.required">
                                    <span class="badge bg-danger">El campo RUT es obligatorio</span>
                                </div>
                                <div *ngIf="rut.errors?.pattern">
                                    <span class="badge bg-danger">Formato RUT no válido, ej: 12345678-9</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nombre Completo</label>
                            <input 
                                type="text" 
                                class="form-control form-control-sm" 
                                name="fullname" 
                                [(ngModel)]="account.fullname"
                                #fullname="ngModel"
                                placeholder="Ingresa tu nombre completo..."
                                required>
                            <div *ngIf="f.submitted && fullname.invalid">
                                <div *ngIf="fullname.errors?.required">
                                    <span class="badge bg-danger">El campo Nombre Completo es obligatorio</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input 
                                type="email" 
                                class="form-control form-control-sm" 
                                name="email" 
                                [(ngModel)]="account.email"
                                #email="ngModel"
                                placeholder="Ingresa tu email..."
                                required
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <div *ngIf="f.submitted && email.invalid">
                                <div *ngIf="email.errors?.required">
                                    <span class="badge bg-danger">El campo Email es obligatorio</span>
                                </div>
                                <div *ngIf="email.errors?.pattern">
                                    <span class="badge bg-danger">El campo Email no es válido</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input 
                                type="password" 
                                class="form-control form-control-sm" 
                                name="password"
                                [(ngModel)]="account.password"
                                #password="ngModel"
                                placeholder="Ingresa tu contraseña..."
                                required
                                minlength="4">
                            <div *ngIf="f.submitted && password.invalid">
                                <div *ngIf="password.errors?.required">
                                    <span class="badge bg-danger">El campo Contraseña es obligatorio</span>
                                </div>
                                <div *ngIf="password.errors?.minlength">
                                    <span class="badge bg-danger">El campo Contraseña debe tener 4 carácteres mínimo</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm" *ngIf="!isSuccess">Registrarme</button>
                    </form>
                    <a class="btn btn-primary" *ngIf="isSuccess" [routerLink]="['/auth/login']">Ir a iniciar sesión</a>
                </div>
              </div>

            
        </div>
    </div>
</div>