nav{
    padding: 16px 0;;
}

.nav-item{
    font-size: 0.8em;
}

.nav-link{
    color: #8D4896;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #FAB427;
}

.separator{
    height: 4px;
    background-color: #8D4896;
}

.welcome{
    background-color: #8D4896;
    color:#fff;
}