<div class="container-fluid" *ngIf="_sesion.user" class="welcome">
    <div class="row p-3">
        <div class="col">
            <h2>
                Bienvenido {{ _sesion.user.fullname }}
            </h2>
        </div>
    </div>
</div>
<div class="separator"></div>
<nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <ul class="nav nav-pills">
                    <li class="nav-item" *ngIf="_sesion.user">
                        <a class="nav-link" [routerLink]="['/app/dashboard']" [routerLinkActive]="['active']">Inicio</a>
                    </li>
                    <li class="nav-item" *ngIf="_sesion.user">
                        <a class="nav-link" [routerLink]="['/app/transfer']" [routerLinkActive]="['active']">Transferir</a>
                    </li>
                    <li class="nav-item" *ngIf="_sesion.user">
                        <a class="nav-link" [routerLink]="['/app/deposit']" [routerLinkActive]="['active']">Depositar</a>
                    </li>
                    <li class="nav-item" *ngIf="_sesion.user">
                        <a class="nav-link" [routerLink]="['/app/order']" [routerLinkActive]="['active']">Retirar</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item" *ngIf="!_sesion.user">
                      <a class="nav-link" [routerLink]="['/auth/login']" [routerLinkActive]="['active']">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item" *ngIf="!_sesion.user">
                      <a class="nav-link" [routerLink]="['/auth/register']" [routerLinkActive]="['active']">Registrarme</a>
                    </li>
                    <li class="nav-item" *ngIf="_sesion.user">
                      <a class="btn btn-danger btn-sm" (click)="logout()">Cerrar Sesión</a>
                    </li>
                    
                  </ul>
            </div>
        </div>
    </div>

      
</nav>

<div class="separator"></div>