<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                  Ingresar
                </div>
                <div class="card-body">
                    <div class="alert alert-danger" *ngIf="error">
                        {{ error }}
                    </div>
                    <form (ngSubmit)="f.form.valid && login()"  #f="ngForm" novalidate>
                        <div class="mb-3">
                            <label class="form-label">RUT</label>
                            <input 
                                type="text" 
                                class="form-control form-control-sm" 
                                name="rut" 
                                [(ngModel)]="credentials.rut"
                                #rut="ngModel"
                                placeholder="Ingresa tu RUT..."
                                pattern="^[0-9]+-[0-9kK]{1}$"
                                required>
                            <div *ngIf="f.submitted && rut.invalid">
                                <div *ngIf="rut.errors?.required">
                                    <span class="badge bg-danger">El campo RUT es obligatorio</span>
                                </div>
                                <div *ngIf="rut.errors?.pattern">
                                    <span class="badge bg-danger">Formato RUT no válido, ej: 12345678-9</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input 
                                type="password" 
                                class="form-control form-control-sm" 
                                name="password"
                                [(ngModel)]="credentials.password"
                                #password="ngModel"
                                placeholder="Ingresa tu contraseña..."
                                required
                                minlength="4">
                            <div *ngIf="f.submitted && password.invalid">
                                <div *ngIf="password.errors?.required">
                                    <span class="badge bg-danger">El campo Contraseña es obligatorio</span>
                                </div>
                                <div *ngIf="password.errors?.minlength">
                                    <span class="badge bg-danger">El campo Contraseña debe tener 4 carácteres mínimo</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Ingresar</button>
                    </form>
                </div>
              </div>

            
        </div>
    </div>
</div>