<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                  Transferir a terceros
                </div>
                <div class="card-body">
                    <div class="alert" [ngClass]="{'alert-danger': !isSuccess, 'alert-success' : isSuccess}" *ngIf="message">
                        {{ message }}
                    </div>
                    <div>
                        <a class="btn btn-primary btn-sm m-1" *ngIf="message" [routerLink]="['/app/dashboard']">Ver los movimientos</a>

                        <button class="btn btn-primary btn-sm m-1" *ngIf="message" (click)="message = ''; transaction.amount = 0; transaction.rut = ''">
                            Realizar una nueva transferencia
                        </button>
                    </div>
                    <form *ngIf="!message" (ngSubmit)="f.form.valid && transaction.amount >= 1000 && transfer()"  #f="ngForm" novalidate>
                        <div class="mb-3">
                            <label class="form-label">RUT</label>
                            <input 
                                type="text" 
                                class="form-control form-control-sm" 
                                name="rut" 
                                [(ngModel)]="transaction.rut"
                                #rut="ngModel"
                                placeholder="Ingresa tu RUT..."
                                pattern="^[0-9]+-[0-9kK]{1}$"
                                required>
                            <div *ngIf="f.submitted && rut.invalid">
                                <div *ngIf="rut.errors?.required">
                                    <span class="badge bg-danger">El campo RUT es obligatorio</span>
                                </div>
                                <div *ngIf="rut.errors?.pattern">
                                    <span class="badge bg-danger">Formato RUT no válido, ej: 12345678-9</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Monto a transferir</label>
                            <input 
                                type="number" 
                                class="form-control form-control-sm" 
                                name="amount"
                                [(ngModel)]="transaction.amount"
                                #amount="ngModel"
                                placeholder="Ingresa el monto..."
                                required>
                                
                            <div *ngIf="f.submitted && amount.invalid">
                                <div *ngIf="amount.errors?.required">
                                    <span class="badge bg-danger">El campo Monto es obligatorio</span>
                                </div>
                                
                            </div>
                            <div class="mb-2" *ngIf="f.submitted && transaction.amount < 1000">
                                <div>
                                    <span class="badge bg-danger">El mínimo de transferencia es de $1000</span>
                                </div>
                                
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Transferir</button>
                    </form>
                </div>
              </div>

            
        </div>
    </div>
</div>