<div class="container-fluid p-5">
  <div class="row d-lg-none">
    <div class="col-12">
      <h4>
        Listado de movimientos - Cuenta : {{ _sesion.user.account }}
      </h4>
      <div class="alert alert-info">Saldo disponible: <b>${{transactionList.availableBalance}}</b> </div>
    </div>
  </div>
  <div class="row d-lg-none">
    <div class="col-12 mb-3" *ngFor="let transaction of transactionList.transactions">
      <div class="card">
        <div class="card-header">
          #{{transaction._id}}
          <button class="btn btn-primary btn-sm" (click)="transaction.viewDetails = !transaction.viewDetails"> 
            {{ transaction.viewDetails ? '-' : '+' }} 
          </button>
        </div>
        <div class="card-body" *ngIf="transaction.viewDetails">
          <h6>
            Fecha y Hora
          </h6>
          <p>
            {{transaction.dateTime | dateFormat}}
          </p>
          <h6>
            Tipo de Transacción
          </h6>
          <p>
            {{ transaction.transactionType }}
          </p>
          <h6>
            Detalle
          </h6>
          <p>
            {{ transaction.description }}
          </p>
          <h6>
            Monto
          </h6>
          <p [ngClass]="{
            'positive' : transaction.typeAmount == '+',
            'negative' :  transaction.typeAmount != '+'
          }">
            ${{transaction.amount}}
          </p>
          <h6>
            Saldo disponible
          </h6>
          <p>
            <b>${{ transaction.availableBalance }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
    <div class="row d-none d-lg-block">
        <div class="col">
            <div class="card">
            <div class="card-header">
              Listado de movimientos - Cuenta : {{ _sesion.user.account }} <span class="badge bg-info text-light">Saldo disponible: ${{ transactionList.availableBalance }}</span>
            </div>
            <div class="card-body">
              <div class="alert alert-info" *ngIf="!transactionList.totalRows">
                No existen movimientos
              </div>
              
              <table class="table table-sm table-striped" *ngIf="transactionList.totalRows">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Fecha y Hora</th>
                      <th scope="col">Tipo Transacción</th>
                      <th scope="col">Detalle</th>
                      <th scope="col">Monto</th>
                      <th scope="col">Saldo disponible</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of transactionList.transactions">
                      <td>
                        {{ transaction._id }}
                      </td>
                      <td>
                        {{ transaction.dateTime | dateFormat }}
                      </td>
                      <td>
                        {{ transaction.transactionType }}
                      </td>
                      <td>
                        {{ transaction.description }}
                      </td>
                      <td [ngClass]="{
                        'positive' : transaction.typeAmount == '+',
                        'negative' :  transaction.typeAmount != '+'
                      }">
                        ${{ transaction.amount }}
                      </td>
                      <td>
                        <b>${{ transaction.availableBalance }}</b>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <a (click)="getTransactions()" class="btn btn-primary btn-sm">Actualizar</a>

            </div>
          </div>

            
        </div>
    </div>
</div>